.idea
.github
.husky
.run
.storybook
dist
node_modules
coverage
storybook-static
test-results
testing-resources
public/*.js
test-api*.js
api-connectivity*.js
public-backup/
archive/
src/aws-exports.js
tests/playwright.preload.js
